@media ( max-width: 1200px ){


}
@media ( max-width: 991px ){ 
    .promo{ 
        .container{
            width: 767px;
        }
     &__subheader{
            font-size: 22px;
        }
    }
 
    .advantages{
        .container{
            width: 767px;
        }
    }
    .consultation{
         .container{
            width: 767px;
        }
    }
    .corousel{
        .container{
            width: 767px;
            .slick-dots{
                list-style-type: none;
                display: flex;
                position: absolute;
                right: 50%;
                transform: translateX(40%);
                button{
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background: $color_btn;
                    border:none;
                    margin-right: 10px;
                    font-size: 0;  
                }
            }  
        }
    }
    .catalog{
        .container{
            width: 630px;
        }
    }
    .clients{
        .container{
            width: 630px;
        }
    }
    
}
@media ( max-width: 767px ){  
    .promo{
        .container{
            width: 575px;
            .header{
                &__phone{
                    font-size: 16px;
                }
                &__official {
                    span{
                        font-size: 16px;
                    }
                }
                &__logo{
                    width: 200px;
                }
            }
        }   
    }
    .advantages{
        padding: 35px 0 36px 0;
        .container{
            width: 575px;
            .advantages{
                &__icons{
                    flex-direction: column;
                    align-items:center;
                }
                &__subheader{
                    margin-top: 18px;
                }
            }
        }
    }
    .consultation{
        .container{
           width: 575px;
       }
   }
   .corousel{
    .container{
        width: 575px;
    }
    &__inner{
        width: 572px;
    }
    .slick-slide{
        img{
            width: 580px;
        }
    } 
    }
    .catalog{
        .container{
            width: 610px;
        }
    }
    .clients{
        .container{
            width: 510px;
        }
    }
}
@media ( max-width: 575px ){  
    .promo{
        padding: 10px 0 0px 0;
        .container{
            width: 320px;
            .header{
           width: 320px;
           &__phone{
               font-size: 12px;
           }
            &__logo{
                width: 200px;
            }
            &__official {
            display: none;
            }
            .button{
                width: 105px;
                height: 20px;
                font-size: 9px;
            }
        }
        }
        
        &__wrepper{
          width: 312px;  
        }
        &__header{
            font-size: 40px;
            line-height: 44px;
            text-align: center;
        }
        &__subheader{
            font-size: 25px;
            line-height: 29px;
            text-align: center;
        }
        &__icons{
            width: 300px;
        }
        &__icon{
            font-size: 13px;
        }
    }
    .advantages{
        .container{
            width: 320px;
        }
    }
    .consultation{
        padding: 40px 0 92px 0;
        .container{
           width: 320px;
           .title_left{
                   text-align: center;
                   br{
                       display: none;
                   }
               }
           .consultation{
               &__description{
                text-align: center;
               }
                .feed-form{
                   align-items: stretch;
               }
            
           }
       }
   }
    .corousel{
        .container{
            width: 320px;
        }
        &__inner{
            width: 280px;
        }
        .slick-slide{
            img{
                width: 280px;
            }
        } 
    }
    .catalog{
        .container{
            width: 300px;
            .title{
                font-size: 22px;
            }
            ul{
                margin-top: 30px;
                li{
                    font-size: 10px;
                }
            }
            .catalog__coneten{
                margin-top: 20px;
            }
          } 
    }
    .clients{
        .container{
            width: 300px;
            .title{
                font-size: 28px;
            }
            
        }
        &__box{
            flex-direction: column;
            
        }
       
        .clients__name{
            text-align: center;
        }
        .clients__inform{
            text-align: center;
        }
        img{
            display: block;
            margin: 0 auto;
        }
    }
    .footer{
        .footer__info{
            width: 310px;
        }
        &__social{
            width: 130%;
            position: absolute;
            right: -14%;
        }
    }
}